@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');





/* BASE STYLES */
:root {
  --color-main: #f68657;
  --color-text: #383a3f;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #f3f6f9;
  --color-light: #acb4bd;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border:#020c16;
}









body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}
* {
  box-sizing: border-box;
}

/* Header/Blog Title */
.header {
  padding: 10px;
  text-align: center;
  background: white;
  margin-bottom: 0px;
  height: 300px;
}

.header h1 {
  font-size: 50px;
  padding:50 30;
}
.desc h1{
  font-size: 2 px;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  margin:20;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 30px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.title{
  color: greenyellow;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn{
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}


/* Fake image */
.row.img {
  background-color: #aaa;
  width: 50%;
  padding: auto;
}
.desc{
  color:#f1f1f1;
}

/* Add a card effect for articles */
.card {
  background-color: rgb(58, 11, 59);
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}












li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 80px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
  












